<html>    
    <head>    
        <title>Registration Form</title>    
    </head>    
    <body>    
        hi i am here
        <link href = "registration.css" type = "text/css" rel = "stylesheet" />    
        <h2>Sign Up</h2>    
        <form name = "form1" action="modified.php" method = "post" enctype = "multipart/form-data" >    
            <div class = "container">    
                <div class = "form_group">    
                    <label> Name:</label>    
                    <input type = "text" name = "name" value = "" required/>    
                </div>    
              
                <div class = "form_group">    
                    <label>Quota Limit:</label>    
                    <input type = "text" name = "QuotaLimit" value = "" required/>    
                </div>    
                <div class = "form_group">    
                    <label>Quota Spent:</label>    
                    <input type = "text" name = "QuotaSpent" value = "" required/>    
                </div>    
            </div>  
            <div class = "form_group">  
                <label>submit</label>     
            <input type = "submit" name = "submit" value = "submit" required/>     
        </div>     
        </form>    
    </body>    
</html>    